@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="text-center">
	<img src="/img/trains.jpg" alt="Trains" style="float:right;"  width="400" height="400"/>
	<h5>@ViewData["Title"]</h5>
</div>
<div class="offset-1">
	<p>trainApp for all your train needs and wants!</p>

	<p>
		The train database will include information about:
		<ul>
			<li>Suppliers</li>
			<li>Categories</li>
			<li>Products</li>
		</ul>
	</p>
</div>
