img{
    max-width: 100%;
    display: block;
}
.page-title{
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
}
button{
    padding: 0.5 1rem;
    margin-bottom: 3rem;
}
.mask-container{
    position: relative;
}
.color-image{
    position: absolute;
    inset: 0;
    background-image: url("img/color-image.jpg");
    background-size: cover;

    -webkit-mask-image: url("img/image-mask.png");
    -webkit-mask-size: cover;
    -webkit-mask-position: 0% 0%;
    mask-image: url("img/image-mask.png");
    mask-size: cover;
    mask-position: 0% 0%;

    transition: -webkit-mask-position ;
}
.mask-animation{
    animation: addColor 700ms steps(24) forwards;
}
@keyframes addcolor{
    0% {
        -webkit-mask-position: 0% 0%;
        mask-position: 0% 0%;
    }
    100% {
        -webkit-mask-position: 100% 0%;
        mask-position: 100% 0%;
    }    
}