* {
    margin: 0;
    padding: 0;
}

#canvas1 {
    /*
    background-color: blue;
    */
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;
}

img{
    display: none;
}

button{
    padding: 10px;
    font-size: 40px;
    margin: 20px;
    font-family: 'Bangers', cursive;
    color: white;
    background-color: black;
}

button:hover{
    color: black;
    background-color: white;
}